@media (min-width: 992px){
    
    /* TOP BAR Toggle */
    #kt_header.full-width{
        left: 0;
    }

    #kt_wrapper.open{
        padding-left: 0;
        -webkit-transition: padding-left .5s ease;
        transition: padding-left .5s ease;
    }
    #kt_aside{
        left: 0;
        -webkit-transition: left .5s ease;
        transition: left .5s ease;
    }
    #kt_aside.close{
        left: -270px;
    }
    /* ---------------------------------- */

    /* Expand/Collapse Desc */
    #expand_toggle_desc{
        position: absolute;
        opacity: 1;
        right: 4%;
        transition: all .5s ease;
    }
    #collapse_toggle_desc{
        position: absolute;
        opacity: 1;
        right: 4%;
        transition: all .5s ease;
    }
    #collapse_toggle_desc.active,
    #expand_toggle_desc.active{
        opacity: 0;
        right: 0;
    }
    /* ------------------------------------ */
    #auth-title-text{
        letter-spacing: normal;
        transition: all .5s ease;
    }
    #auth-title-text:hover{
        letter-spacing: 10px;
        transition: all .5s ease;
    }

    /* Status Animation */
    td.bg-progress{
        animation: bg-progress 5s linear infinite alternate;
    }

    @keyframes bg-progress{
        0%
        {
            transform: translateX(0);
        }
        25%
        {
            transform: translateX(10px);
        }
        50%
        {
            transform: translateX(17px);
        }
        75%
        {
            transform: translateX(10px);
        }
        100%
        {
            transform: translateX(0);
        }
    }
}